<div class="main">
    <div class="logo">0707Raj</div>
    <div class="wrapper">
        <div class="mobile_no">+919772953851</div>
        <div class="mobile_no">nishant0707rajput@gmail.com</div>
        <div class="nav_links">
            <a href="https://github.com/Nishant0707Rajput?tab=repositories" target="_blank">
                <img src="assets/img/svg/git_h.svg" alt="">
            </a>
            <a href="https://www.linkedin.com/in/nishant07rajput/" target="_blank">
                <img src="assets/img/svg/linkedin.svg" alt="">
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nishant0707rajput@gmail.com" target="_blank">
                <img src="assets/img/svg/mail.svg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="divider"></div>
<div></div>