<mat-expansion-panel (opened)="panelOpened()" (closed)="panelOpenState=false" hideToggle class="nav_bar" #myPanel>
    <mat-expansion-panel-header class="mat_exp">
        <div class="nav_and_ic" *ngIf="!mobileWidth">
            <div class="icon">0707 Rajput</div>
            <div class="inner">
                <div class="nav_wrap_2">
                    <div class="home">Home</div>
                    <div class="home">About</div>
                    <div class="home">Tech-Stacks</div>
                    <div class="home">Projects</div>
                    <div class="home">Contact</div>
                </div>
                <div class="nav_links">
                    <img src="assets/img/svg/git_h.svg" alt="">
                    <img src="assets/img/svg/linkedin.svg" alt="">
                </div>
            </div>
        </div>

        <ng-container *ngIf="mobileWidth">
            <div *ngIf="!panelOpenState" class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="panelOpenState" class="close-icon">
                <span></span>
                <span></span>
            </div>
        </ng-container>
    </mat-expansion-panel-header>
    <div class="nav_wrap_2">
        <div class="home">Home</div>
        <div class="home">About</div>
        <div class="home">Projects</div>
        <div class="home">Contact</div>
    </div>
</mat-expansion-panel>