<mat-expansion-panel (opened)="panelOpened()" (closed)="panelOpenState=false" hideToggle class="nav_bar" #myPanel>
    <mat-expansion-panel-header>
        <div class="nav_wrap">
            <div class="home">Home</div>
            <div class="home">About</div>
            <div class="home">Projects</div>
            <div class="home">Contact</div>
        </div>
    </mat-expansion-panel-header>
    <div class="nav_wrap">
        <div class="home">Home</div>
        <div class="home">About</div>
        <div class="home">Projects</div>
        <div class="home">Contact</div>
    </div>
</mat-expansion-panel>