.site_icon {
  position: absolute;
  top: 41px;
  right: 3vw;
  z-index: 1;

  img {
    width: 45px;
  }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: var(--Dark-Mode);
}

.nav_bar {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 40px;
  background-color: var(--Dark-Mode);
  color: var(--light-Content);

  .nav_and_ic {
    cursor: default;
    text-align: center;
    display: flex;
    min-width: 200px;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .icon {
      margin-left: 4vw;

      img {
        width: 45px;
      }
    }

    .inner {
      display: flex;
      align-items: center;

      .nav_wrap_2 {
        display: flex;
        gap: 5vw;
        margin: 0 2.5vw;

        .home {
          cursor: pointer;
          padding: 10px 20px;
          transition: box-shadow 0.3s ease, background-color 0.3s ease;
          box-shadow: 0px 4px 8px rebeccapurple;
          border-radius: 15px;
        }

        .home:hover {
          background-color: rgba(255, 255, 255, 0.1);
          box-shadow: 0px 6px 12px rebeccapurple;
        }

      }
    }
  }

  .active_nav {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 6px 12px rebeccapurple;
  }

  .nav_wrap_1 {
    .home {
      width: fit-content;
      margin-bottom: 10px;
      cursor: pointer;
      padding: 3px 7px;
      transition: box-shadow 0.3s ease, background-color 0.3s ease;
      box-shadow: 0px 4px 8px rebeccapurple;
      border-radius: 7px;
    }

    .home:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 6px 12px rebeccapurple;
    }
  }

  .nav_links {
    display: flex;
    gap: 10px 10px;
    padding: 8px 0 0 0;

    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
}

.mat-expansion-panel-header {
  width: fit-content;
  margin-left: 20px;
  padding: 0;
  display: inline-block;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 17px;
  position: relative;
  margin: 8px 0;
}

/* Styling the lines of the hamburger icon */
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  /* White color */
  border-radius: 9px;
  transition: background 0.4s ease;
}

/* Positioning the lines to form the hamburger icon */
.hamburger-icon span:nth-child(1) {
  top: 0;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 9px;
}

.hamburger-icon span:nth-child(3) {
  top: 18px;
}

/* CSS to style the close icon */
.close-icon {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  margin: 8px 0;
}

/* Styling the lines of the close icon to form an 'X' */
.close-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  /* White color */
  transition: background 0.4s ease;
  //   margin-left: 17px;
}

/* Rotating and positioning lines to form an 'X' */
.close-icon span:nth-child(1),
.close-icon span:nth-child(2) {
  top: 9px;
  transform-origin: center;
}

.close-icon span:nth-child(1) {
  transform: rotate(45deg);
}

.close-icon span:nth-child(2) {
  transform: rotate(-45deg);
}

::ng-deep {
  .mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
  }
}